* {
    box-sizing: border-box;
}
body {
    background: gainsboro;
    font-family: "Open Sans", arial;
}
table {
    width: 100%;
    max-width: 600px;
    height: 320px;
    border-collapse: collapse;
    border: 1px solid #38678f;
    margin: 50px auto;
    background: white;
}
th {
    background: steelblue;
    height: 54px;
    width: 25%;
    font-weight: lighter;
    text-shadow: 0 1px 0 #38678f;
    color: white;
    border: 1px solid #38678f;
    box-shadow: inset 0px 1px 2px #568ebd;
    transition: all 0.2s;
}
tr {
    border-bottom: 1px solid #cccccc;
}
tr:last-child {
    border-bottom: 0px;
}
td {
    border-right: 1px solid #cccccc;
    padding: 10px;
    transition: all 0.2s;
}
td:last-child {
    border-right: 0px;
}
td.selected {
    background: #d7e4ef;
}
td input {
    font-size: 14px;
    background: none;
    outline: none;
    border: 0;
    display: table-cell;
    height: 100%;
    width: 100%;
}
td input:focus {
    box-shadow: 0 1px 0 steelblue;
    color: steelblue;
}
::-moz-selection {
    background: steelblue;
    color: white;
}
::selection {
    background: steelblue;
    color: white;
}
.heavyTable {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    animation: float 5s infinite;
}
.main {
    max-width: 600px;
    padding: 10px;
    margin: auto;
}
.content {
    color: white;
    text-align: center;
}
.content p,
.content pre,
.content h2 {
    text-align: left;
}
.content pre {
    padding: 1.2em 0 0.5em;
    background: white;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.9);
    color: #38678f;
}
.content .download {
    margin: auto;
    background: rgba(255, 255, 255, 0.1);
    display: inline-block;
    padding: 1em 1em;
    border-radius: 12em;
    margin-bottom: 2em;
}
.content .button {
    display: inline-block;
    text-decoration: none;
    color: white;
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    border-radius: 24px;
    border: 1px solid #38678f;
    background: steelblue;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 3px rgba(255, 255, 255, 0.2);
    transition: all 0.1s;
}
.content .button:hover {
    background: #4f8aba;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 0 10px rgba(255, 255, 255, 0.1);
}
.content .button:active {
    color: #294d6b;
    background: #427aa9;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 0 5px rgba(0, 0, 0, 0.2);
}
.content .button:focus {
    outline: none;
}
h1 {
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}


@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#cssmenu {
    background: #f96e5b;
    width: auto;
}
#cssmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1;
    display: block;
    zoom: 1;
}
#cssmenu ul:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}
#cssmenu ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
}
#cssmenu.align-right ul li {
    float: right;
}
#cssmenu.align-center ul {
    text-align: center;
}
#cssmenu ul li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 15px 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    -ms-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
}
#cssmenu ul li a:hover {
    color: #333333;
}
#cssmenu ul li a:hover:before {
    width: 100%;
}
#cssmenu ul li a:after {
    content: "";
    display: block;
    position: absolute;
    right: -3px;
    top: 19px;
    height: 6px;
    width: 6px;
    background: #ffffff;
    opacity: .5;
}
#cssmenu ul li a:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #333333;
    -webkit-transition: width .25s;
    -moz-transition: width .25s;
    -ms-transition: width .25s;
    -o-transition: width .25s;
    transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
    display: none;
}
#cssmenu ul li.active a {
    color: #333333;
}
#cssmenu ul li.active a:before {
    width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
    display: block;
}
#cssmenu.align-right li:first-child a:after {
    display: none;
}
@media screen and (max-width: 768px) {
    #cssmenu ul li {
        float: none;
        display: block;
    }
    #cssmenu ul li a {
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: 1px solid #fb998c;
    }
    #cssmenu ul li.last > a,
    #cssmenu ul li:last-child > a {
        border: 0;
    }
    #cssmenu ul li a:after {
        display: none;
    }
    #cssmenu ul li a:before {
        display: none;
    }
}


.login-card {
    padding: 40px;
    width: 274px;
    background-color: #F7F7F7;
    margin: 50px auto 10px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.login-card h1 {
    font-weight: 100;
    text-align: center;
    font-size: 2.3em;
}

.login-card input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.login-card input[type=text], input[type=password], input[type=date], input[type=number], input[type=email] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.login-card input[type=checkbox]{
    margin-bottom: 10px;
}
.login-card select{
    margin-bottom: 10px;
}

.login-card input[type=text]:hover, input[type=password], input[type=date], input[type=number], input[type=email]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
    text-align: center;
    font-size: 14px;
    height: 36px;
    padding: 0 8px;
}

.login-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: darkorange;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.login-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: peru;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.login-card a {
    text-decoration: none;
    color: #666;
    text-align: left;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-card a:hover {
    opacity: 1;
}

.login-help {
    width: 100%;
    text-align: center;
    font-size: 12px;
}